html{
    scroll-behavior: smooth;
}
html>body{
    background-color: black;
    background-image: url(../../images/hobbert_pic.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center;
    background-attachment: fixed;
}
nav.navbar{
     backdrop-filter: blur(10px);}
.banner{
    margin-top: 100px;
}
.hero-full-container #banner .hero-full-wrapper{
    min-height: initial ;
    height: 50vh ;
    min-height: initial ;
}
#banner .content{
    display: flex;
    align-items: center;
}
.linkBox>i{
    font-size: 20px;
    color: snow;
}
h2>em{
    font-size: 1.5em;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.6 !important;
}
.h1:after, .h1:before, h2:after, h2:before,.h3:after, .h3:before, h4:after, h4:before,.h5:after, .h5:before, h6:after, h6:before{
    background-color: transparent !important;
}
img{
    width: 100%;
   
}
#banner .imgBox{
    border-radius: 50%;
    overflow: hidden;
    height: min-content;
}
ul.skillsList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    /* backdrop-filter: invert(80%); */
}
.skillsIcon{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-right:10px ;
    margin-left:10px ;
}
.skillsIcon > img{
    width: 50px;
    height: 50px;
}
.skillsIcon > img.graybackground{
    background-color: rgba(255,255,255,0.5);  
}

.skillsIcon > p{
text-align: center;
line-height: 1.1;
/* word-wrap: break-word; */
}
div.workItem{
    min-height: 20vh;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255,255,255,0.2);
    display: flex ;
    align-items: center;
}
.btn{
    width: fit-content;
    padding: 0.5rem 2rem;
    background: #999;
    border-radius: 1rem;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 768px) {
    .pc {
     display: none;
    }
    .mobile{
        display: initial;
    }
    #banner .content{
        display: initial;
    }
  }